<div class="container">

    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5 login-container">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block img-login">
                            <img src="../../../assets/register.svg " alt="">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5 ">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4"> Create an Account</h1>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="text" class="form-control border" id="exampleFirstName" placeholder="User Name">
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="form-control border" id="sel1" name="sellist1">
                                                    <option class="option">Role 1</option>
                                                    <option class="option">Role 2</option>
                                                    <option class="option"> Role 3</option>
                                                  </select>
                                            </div>
                                        </div>
                                        <input type="email" class="form-control border" id="exampleInputPassword" placeholder="Email">
                                        <input type="password" class="form-control  border" id="exampleInputPassword" placeholder="Password">
                                        <a style="display: block; background-color:rgb(63, 159, 246);" href="#" class="form-control btn btn-primary border">
                                           Register account
                                        </a>



                                    </div>

                                    <hr>
                                    <a style="display: block; background-color: #ea4335;" href="#" class="form-control btn btn-danger border">
                                        <i class="fab fa-google fa-fw"></i> Register with Google
                                    </a>

                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="register.html">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>