<div class="container">

    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5 login-container">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block img-login">
                            <img src="../../../assets/login.svg " alt="">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5 ">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4"> Login </h1>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="email" class="form-control  border" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                        <input type="password" class="form-control  border" id="exampleInputPassword" placeholder="Password">
                                        <a style="display: block; background-color:rgb(63, 159, 246);" href="#" class="form-control btn btn-primary border">
                                            Login
                                         </a>


                                    </div>


                                    <br>
                                    <hr>
                                    <a style="display: block; background-color: #ea4335;" href="#" class="form-control btn btn-danger border">
                                        <i class="fab fa-google fa-fw"></i> Login with Google
                                    </a>

                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" routerLink="/register">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>